h2{   
    color: rgb(255, 2, 2);
    font-size: 30px;
    text-decoration: underline;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
    div{
        background-color: rgb(118, 6, 247);
        opacity: 0.5;
      }